<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block nav %}
                <nav class="navbar navbar-expand d-none d-sm-inline">
                    <div class="collapse navbar-collapse">
                        <div class="navbar-nav " style="height: 50px;">
                            <img src="{{ asset('img/logo.png') }}" alt="logo" height="50px">
                        </div>
                        <ul class="navbar-nav ml-auto" style="height: 50px; margin-left: auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('trick_create') }}">Tricks</a>
                            </li>
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('log_out') }}">Log out</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('sign_in') }}">Sign in</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('sign_up') }}">Sign up</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <nav class="navbar navbar-expand d-sm-none d-inline fixed-bottom bg-light">
                    <div class="row">
                        <div class="col">
                            <a class="nav-link display-5 text-center" href="{{ path('home') }}">
                                <i class="fa-solid fa-house-chimney"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="nav-link display-5 text-center" href="{{ path('trick_create') }}">
                                <i class="fa-solid fa-bookmark"></i>
                            </a>
                        </div>
                        {% if app.user %}
                            <div class="col">
                                <a class="nav-link display-5 text-center" href="{{ path('log_out') }}">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>
                        {% else %}
                            <div class="col">
                                <a class="nav-link display-5 text-center" href="{{ path('sign_in') }}">
                                    <i class="fa-solid fa-right-to-bracket"></i>
                                </a>
                            </div>
                        {% endif %}

                    </div>
                </nav>
            {% endblock %}

            {% block body %}{% endblock %}

            <hr class="d-none d-sm-block my-4">
            
            {% block footer %}
            <div style="min-height: 120px;">
                <footer class="d-none d-sm-block" >
                    Copyright &copy; GN4RK {{ 'now' | date('Y') }}
                </footer>
            </div>
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                <script language = "javascript" 
                    src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

                {% if app.user %}
                    <script language = "javascript">
                        var trickTemplate = $(
                            '<div class="card my-2" style="width: 18rem;"> '+
                                '<img id="img" class="card-img-top" alt="image"> '+
                                '<div class="card-body"> '+
                                    '<h5 class="card-title d-flex justify-content-evenly"> '+
                                        '<a id="link" class="btn btn-primary"> </a> '+
                                        '<a id="edit" href="#"> '+
                                            '<i class="fa-solid fa-pen-to-square"> </i> '+
                                        '</a> '+
                                        '<a id="delete" href="#"> '+
                                            '<i class="fa-solid fa-trash-can"> </i> '+
                                        '</a> '+
                                    '</h5> '+
                                '</div> '+
                            '</div>'
                        );
                    </script>
                {% else %}
                    <script language = "javascript">
                        var trickTemplate = $(
                            '<div class="card my-2" style="width: 18rem;"> '+
                                '<img id="img" class="card-img-top" alt="image"> '+
                                '<div class="card-body"> '+
                                    '<h5 class="card-title d-flex justify-content-evenly"> '+
                                        '<a id="link" class="btn btn-primary"> </a> '+
                                    '</h5> '+
                                '</div> '+
                            '</div>'
                        );
                    </script>
                {% endif %}

                <script language = "javascript">

                    var start = 5;

                    $(document).ready(function(){
                        $("#loadMoreTricks").on("click", function(event){

                            $("#loadMoreTricks").text('Loading...');
                            $("#loadMoreTricks").addClass("disabled");

                            $.ajax({  
                                url:        '/' + start,  
                                type:       'POST',   
                                dataType:   'json',  
                                async:      true,  
                                
                                success: function(data, status) {
                                    start += 5;
                                    
                                    for(i = 0; i < data.length; i++) {
                                        $('#tricks').append('');
                                        trick = data[i];

                                        var e = trickTemplate.clone();
                                        
                                        $('#link', e).html(trick['name']);
                                        var url = "{{ path('trick_details', {'slug': 'trick-slug' }) }} ";
                                        url = url.replace("trick-slug", trick.slug);
                                        $('#link', e).attr("href", url);

                                        $('#img', e).attr("src", "{{ asset('img/mountain.jpg') }}");
                                        
                                        $('#tricks').append(e);
                                    }

                                   $("#loadMoreTricks").text('Load More');
                                   $("#loadMoreTricks").removeClass("disabled");

                                },
                                error : function(xhr, textStatus, errorThrown) {
                                    alert('Ajax request failed.');  
                                }
                            });
                        });
                    });
                </script>
            {% endblock %}
        </div>
    </body>
</html>
