<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Font Awesome icons (free version) -->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block nav %}
                {% include '_navbar.html.twig' %}
            {% endblock %}

            <hr class="d-none d-sm-block my-4">

            {% block messages %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>    
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flashMessage }}
                    </div>    
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('warning') %}
                    <div class="alert alert-warning">
                        {{ flashMessage }}
                    </div>    
                {% endfor %}
            {% endblock %}

            {% block body %}{% endblock %}

            <hr class="d-none d-sm-block my-4">
            
            {% block footer %}
            <div style="min-height: 120px;">
                <footer class="d-none d-sm-block" >
                    Copyright &copy; GN4RK {{ 'now' | date('Y') }}
                </footer>
            </div>
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                <script language = "javascript" 
                    src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

                {% if app.user %}
                    <script language = "javascript">
                        var trickTemplate = $(
                            '<div class="card my-2" style="width: 18rem;"> '+
                                '<img id="img" class="card-img-top" alt="image"> '+
                                '<div class="card-body"> '+
                                    '<h5 class="card-title d-flex justify-content-evenly"> '+
                                        '<a id="link" class="btn btn-primary"> </a> '+
                                        '<a id="edit"> '+
                                            '<i class="fa-solid fa-pen-to-square"> </i> '+
                                        '</a> '+
                                        '<a id="delete"> '+
                                            '<i class="fa-solid fa-trash-can"> </i> '+
                                        '</a> '+
                                    '</h5> '+
                                '</div> '+
                            '</div>'
                        );
                    </script>
                {% else %}
                    <script language = "javascript">
                        var trickTemplate = $(
                            '<div class="card my-2" style="width: 18rem;"> '+
                                '<img id="img" class="card-img-top" alt="image"> '+
                                '<div class="card-body"> '+
                                    '<h5 class="card-title d-flex justify-content-evenly"> '+
                                        '<a id="link" class="btn btn-primary"> </a> '+
                                    '</h5> '+
                                '</div> '+
                            '</div>'
                        );
                    </script>
                {% endif %}

                <script language = "javascript">

                    var commentTemplate = $(
                        '<div class="my-4 d-flex"> '+
                            '<div class="me-2"> '+
                                '{# {{ comment.user.photo }} #} '+
                                '<img id="photo" src="{{ asset("img/logo.png") }}" alt="logo" width= "50px" height="50px"> '+
                            '</div> '+
                            '<div class="border w-100 p-2"> '+
                                '<span id="username" class="fw-bold"> '+
                                '</span> '+
                                '<span id="date" class="fw-light"> '+
                                '</span> '+
                                '<div id="content" class=""> '+
                                '</div> '+
                            '</div> '+
                        '</div>'
                    );

                    var start = 5;
                    var startComment = 10;

                    $(document).ready(function(){
                        $("#loadMoreTricks").on("click", function(event){

                            $("#loadMoreTricks").text('Loading...');
                            $("#loadMoreTricks").addClass("disabled");

                            $.ajax({  
                                url:        '/start/' + start,  
                                type:       'POST',   
                                dataType:   'json',  
                                async:      true,  
                                
                                success: function(data, status) {
                                    start += 5;
                                    
                                    for(i = 0; i < data.length; i++) {
                                        $('#tricks').append('');
                                        trick = data[i];

                                        var e = trickTemplate.clone();
                                        
                                        $('#link', e).html(trick['name']);
                                        var urlLink = "{{ path('trick_details', {'slug': 'trick-slug' }) }}";
                                        urlLink = urlLink.replace("trick-slug", trick.slug);
                                        $('#link', e).attr("href", urlLink);

                                        var urlEdit = "{{ path('trick_edit', {'slug': 'trick-slug' }) }}";
                                        urlEdit = urlEdit.replace("trick-slug", trick.slug);
                                        $('#edit', e).attr("href", urlEdit);

                                        var urlDelete = "{{ path('trick_delete', {'slug': 'trick-slug' }) }}";
                                        urlDelete = urlDelete.replace("trick-slug", trick.slug);
                                        $('#delete', e).attr("href", urlDelete);

                                        var urlImg = "{{ asset('img/mountain.jpg') }}";
                                        if (trick.featuredImage != null) {
                                            urlImg = "{{ asset('upload/img/' ~ 'FImage' ) }}";
                                            urlImg = urlImg.replace("FImage", trick.featuredImage);
                                        }
                                        $('#img', e).attr("src", urlImg);
                                        
                                        $('#tricks').append(e);
                                    }

                                   $("#loadMoreTricks").text('Load More');
                                   $("#loadMoreTricks").removeClass("disabled");

                                },
                                error : function(xhr, textStatus, errorThrown) {
                                    alert('Ajax request failed.');  
                                }
                            });
                        });

                        $("#loadMoreComments").on("click", function(event){

                            $("#loadMoreComments").text('Loading...');
                            $("#loadMoreComments").addClass("disabled");

                            $.ajax({  
                                url:        window.location.href + '/start/' + startComment,  
                                type:       'POST',   
                                dataType:   'json',  
                                async:      true,  
                                
                                success: function(data, status) {
                                    startComment += 10;
                                    
                                    for (i = 0; i < data.length; i++) {
                                        var e = commentTemplate.clone();
                                        com = data[i];

                                        var dateCom = new Date(com['date']['date']);
                                        dateCom.setHours(dateCom.getHours() + 2);
                                        dateCom = dateCom.toLocaleString('fr-FR', { timeZone: 'Europe/Paris' });

                                        $('#username', e).html(com['username']);
                                        $('#date', e).html(dateCom);
                                        $('#content', e).html(com['content']);
                                        $('#photo', e).attr("src", "https://avatars.dicebear.com/api/human/" + com['username'] + ".svg");

                                        $('#comments').append(e);
                                    }

                                   $("#loadMoreComments").text('Load More');
                                   $("#loadMoreComments").removeClass("disabled");

                                },
                                error : function(xhr, textStatus, errorThrown) {
                                    alert('Ajax request failed.');  
                                }
                            });
                        });

                        $(".form-check label").each(function(){
                            $(this).html('<img width="200" src="' + window.location.origin + '/upload/img/' + $(this).html() + '" class="img-thumbnail" alt="image">')
                        })

                    });
                </script>
            {% endblock %}
        </div>
    </body>
</html>
