{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks - {{ trick.name|capitalize }}
{% endblock %}

{% block body %}
    <div class="card mb-3">
        {% if trick.FeaturedImage %}
            <img class="card-img" src="{{ asset('upload/img/' ~ trick.FeaturedImage.content ) }}" alt="Card image">
        {% else %}
            <img class="card-img" src="{{ asset('img/mountain.jpg') }}" alt="Card image">
        {% endif %}
        <div class="card-img-overlay d-flex align-items-center">
            {% if app.user %}
                <div 
                    class="d-flex justify-content-evenly rounded 
                        bg-light p-2 position-absolute top-0 end-0 m-3" 
                    style=" width:90px;">
                    <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="#"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            {% endif %}
            <h1 class="mx-auto" style="color: white;text-shadow: 2px 2px 2px black;">
                {{ trick.name|capitalize }}
            </h1>
        </div>
    </div>

    <div id="media" class="d-none d-sm-block mb-3">
        <div class="d-flex flex-wrap justify-content-evenly">
            {% for media in trick.media %}
                {% include 'trick/viewer.html.twig' %}
            {% endfor %}
        </div>
    </div>

    <div class="d-block d-sm-none mx-auto mb-3" style="width: 120px;">
        <button type="button" class="btn btn-primary" onclick="$('#media').attr('style', 'display: inline !important'); $(this).hide();">See medias</button>
    </div>

    <div>
        <p>
            {{ trick.description }}
        </p>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly">
        <div class="border rounded p-2 mb-3">
            Added on {{ trick.date|date("d/m/Y", "Europe/Paris") }}
        </div>
        <div class="border rounded p-2 mb-3">
            Category : {{ trick.category }}
        </div>
        {% if trick.lastUpdate is not null %}
            <div class="border rounded p-2 mb-3">
               last update on {{ trick.lastUpdate|date("d/m/Y", "Europe/Paris") }}
            </div>
        {% endif %}
    </div>

    {% if app.user %}
        <div class="text-center">
            <a href=" {{ path('trick_edit', {'slug': trick.slug }) }}" class="btn btn-primary">
                <i class="fa-solid fa-pen-to-square"></i> Edit trick
            </a>
        </div>
    {% endif %}


    <hr class="my-4">

    <div id="comments">
        {% if app.user %}
            {{ form(commentForm) }}
            <hr class="my-4">
        {% else %}
            <div class="alert alert-warning" role="alert">
                You have to be logged in to post a comment.
            </div>
          
        {% endif %}

        {% if trick.comments|length < 1 %}
            No comment yet.
        {% else %}
            {% for comment in trick.comments %}
                <div class="my-4 d-flex">
                    <div class="me-2">
                        {# {{ comment.user.photo }} #}
                        <img src="{{ asset('img/logo.png') }}" alt="logo" width= "50px" height="50px">
                    </div>
                    <div class="">
                        <span class="fw-bold">
                            {{ comment.user.username }} 
                        </span>
                        <span class="fw-light">
                            posted on 
                            {{ comment.date|date("d/m/Y \\a\\t H:i", "Europe/Paris") }}
                        </span>
                        <div class="">
                            {{ comment.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}