{% set thereIsAnImage = false %}
{% for media in trick.media %}
    {% if media.type == "image" %}
        {% set thereIsAnImage = true %}
    {% endif %}
{% endfor %}

<div class="card mb-3">
    {% if trick.FeaturedImage %}
        <img class="card-img" 
            src="{{ asset('upload/img/' ~ trick.FeaturedImage.content ) }}" 
            alt="Card image">
    {% else %}
        <img class="card-img" 
            src="{{ asset('img/mountain.jpg') }}" alt="Card image">
    {% endif %}
    <div class="card-img-overlay d-flex align-items-center">
        {% if app.user %}
            <div 
                class="d-flex justify-content-evenly rounded 
                bg-light p-2 position-absolute top-0 end-0 m-3" 
                style=" width:90px;">
                <a title="Edit featured image"
                    {% if thereIsAnImage %}
                        href="{{ path('trick_edit_featured', {'slug': trick.slug}) }}"
                    {% endif %}
                >
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                {% if trick.FeaturedImage %}
                    <a title="Unlink featured image" 
                        href="{{ path('trick_unlink_featured', {'slug': trick.slug}) }}" 
                        onclick="return confirm('Unlink featured image ?')">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <h1 class="mx-auto" style="color: white;text-shadow: 2px 2px 2px black;">
            {{ trick.name|capitalize }}
        </h1>
    </div>
</div>