<div class="card" style="width: 18rem;">
    <div class="card-body">
        {% if media.type == "image" %}

            <img src="{{ asset('upload/img/' ~ media.content ) }}" class="img-fluid" alt="{{ media.content }}"/>

        {% elseif media.type == "youtube" %}
            <iframe 
                width="100%" 
                height="100%" 
                src="https://www.youtube.com/embed/{{ media.content|slice(32, 40) }}" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
            ></iframe>

        {% else %}
            {{ media.content|raw }}
        {% endif %}
    </div>
    {% if app.user %}
        <div 
            class="d-flex justify-content-evenly border 
                border-secondary rounded bg-light p-1 m-2" 
            style=" width:90px;">
            <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{{ path('delete_media', {'id': media.id}) }}" onclick="return confirm('Are you sure ?')"><i class="fa-solid fa-trash-can"></i></a>
        </div>
    {% endif %}
</div>